@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Savate:ital,wght@0,200..900;1,200..900&display=swap');

/* reset by Josh Cameo */
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

#root,
#__next {
    isolation: isolate;
}

/* custom css start here */
html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsl(39, 100%, 84%);
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    animation: fadeIn 600ms ease-out both;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(16px);
    }

    to {
        opacity: 1;
        transform: translateY(6px);
    }
}

h1 {
    margin: 0 auto;
    width: 100%;
    max-width: 720px;
    font-size: 62px;
    line-height: 1.1;
}

h1,
h2 {
    font-family: "Savate", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: rgb(117, 75, 31);
}

h2 {
    font-weight: 600;
    margin-bottom: 8px;
    font-size: 1.2rem;
    line-height: 1.3;
}

a {
    text-decoration: none;
    color: black;
}

header {
    width: 100%;
    text-align: center;
}

nav ul {
    font-size: 18px;
    width: 100%;
    display: flex;
    gap: 40px;
    justify-items: center;
    text-decoration: none;
    list-style: none;
    padding: 24px 72px 0px;
    font-weight: 500;
}


nav a,
nav span {
    color: rgb(70, 45, 19);
}

nav a:hover {
    text-decoration: underline;
    color: rgb(153, 99, 41);
}

nav .logo {
    margin-right: auto;
    display: flex;
    align-items: center;
    gap: 8px;
}

.hero {
    padding: 100px 0;
}

.hero p {
    font-size: 1.2rem;
    /* font-weight: 300; */
    font-style: italic;
    margin-top: 24px;
}

main {
    background-color: white;
    padding: 40px;
    margin-bottom: 100px;
    border-radius: 16px;
    width: 100%;
    max-width: 840px;
}

main>h2 {
    font-size: 1.5rem;
    margin-bottom: 28px;
}

.recipes-wrapper {
    opacity: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    line-height: 1.5;
    gap: 32px;
    animation: fadeInCards 600ms ease-in 0.2s forwards;
}

.recipes-wrapper p {
    font-size: 15px;
    margin-top: 16px;
}

@keyframes fadeInCards {
    from {
        opacity: 0;
        transform: translateY(24px);
    }

    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

.recipe-card {
    padding: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.04);
    border: none;
    border-radius: 16px;
    transition: all 300ms ease
}

.recipe-card:hover {
    transform: translateY(-4px);
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.08);
}

.recipe-image {
    aspect-ratio: 4 / 4;
    position: relative;
    margin-bottom: 16px;
}

.recipe-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 14px;
}

footer {
    font-size: 14px;
    padding: 8px;
    color: rgb(54, 28, 0);
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.8rem;
    }

    h2 {
        font-size: 1.2rem;
    }

    nav ul {
        font-size: 16px;
        gap: 15px;
        padding: 8px 16px;
    }

    .hero {
        padding: 45px 12px 53px;
    }

    .hero p {
        margin-top: 16px;
        font-size: 15px;
    }

    nav span {
        display: none;
    }

    main {
        border-radius: 0px;
        padding: 32px;
        margin: 0;
        font-size: 15px;
    }

    main>h2 {
        font-size: 1.4rem;
        text-align: center;
    }

    footer {
        font-size: 12px;
    }

}