
* {
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.5;
    background-color: rgb(243, 223, 199);
}

h1,
h2 {
   
    text-transform: uppercase;
    text-align: center;
}
h1 {
    
    font-size: 50px;
    color: rgb(160, 4, 4);
    background: white;
    padding: 50px;
    border: 10px solid darkred;
}
h2{
    padding: 10px;
    background-color: black;
    color: white;
}
ol,
a {
    display: block;
    padding: 10px;
    text-align: center;
    line-height: 1.5;
    color: rgb(26, 1, 1);
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;list-style-type:none;
    
}
    