@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Savate:ital,wght@0,200..900;1,200..900&display=swap');

/* reset by Josh Cameo */
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}

/* custom css start here */
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsl(39, 100%, 84%);
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

h1 {
    line-height: 1.1;
}

h1,
h2,
ul li::marker,
ol li::marker {
    font-family: "Savate", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: rgb(117, 75, 31);
}

h2 {
    font-weight: 600;
    margin-bottom: 8px;
}

main {
    margin: 100px 0;
    border-radius: 16px;
    background-color: white;
    color: hsl(24, 5%, 18%);
    width: 100%;
    max-width: 720px;
    padding: 40px;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    animation: fadeIn 600ms ease-out both;
    gap: 24px;
}
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(16px);
    }

    to {
        opacity: 1;
        transform: translateY(-1);
    }
}

.recipe-image {
    width: 100%;
    height: 100%;
    aspect-ratio: 9 / 4;
    overflow: hidden;
    position: relative;
}

.recipe-image img {
    border-radius: 10px;
    object-fit: cover;
    object-position: center;
    width: 100%;
    display: block;
    width: 100%;
    height: 100%;
}

span,
td {
    font-weight: 700;
    color: rgb(73, 46, 18);
    ;
}
th {
    font-weight: 500;
}

.preperation {
    background-color: hsl(40, 81%, 90%);
    border-radius: 8px;
    padding: 24px;
}

ul,
ol {
    padding-left: 24px;
    line-height: 2;
}

ol li {
    line-height: 1.5;
    padding-bottom: 8px;
}

.ingredients,
.instructions {
    padding-bottom: 24px;
    border-bottom: 1px solid rgb(73, 46, 18);
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    text-align: start;
    padding: 8px 16px;
    border-bottom: 1px solid rgb(207, 206, 205);
}
footer {
    font-size: 14px;
    padding: 8px;
    color: rgb(54, 28, 0);
}

/* About page Style */

figure {
    width: 100%;
    padding: 24px;
    text-align: center;
}
figcaption {
    margin-top: 8px;
}
figure img{
    border-radius: 16px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
    /* margin: 20px; */
}
.before-after {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

@media (max-width: 480px) {
    main {
        padding: 32px;
        margin: 0;
        border-radius: 0px;
        font-size: 15px;
        overflow: hidden;
    }
    h1 {
        font-size: 1.6rem;
    }
    h2 {
        font-size: 1.30rem;
    }

    .recipe-image {
        width: 98vw;
        margin: -40px -40px 0 -40px;
    }

    .recipe-image img {
        border-radius: 0px;
    }
    footer {
        font-size: 12px;
    }

}